<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="footer" th:fragment="foot">

    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h5 class="m-lg-1">Bootcamp FullStack Java Grupo 5</h5>
                    </div>
                    <div class="col-sm-1 text-right">
                        <img src="/static/img/logocasco.png" class="img-fluid" alt="Logo" />
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>

</body>
</html>